<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="project-list">
    <div class="project-card" (click)="ShowProject('finance')">
      <div class="project-details">
        <h2>APDS</h2>
        <div *ngIf="IsShowFianceProject">

          <h3>Description:</h3>
          <p> : It is a project for the cruise ship for maintaining the records of passengers ship safety drills.
          </p>
          <h3>Technology Used:</h3>
          <h4>Frontend :</h4> <p>Angular ,TypeScript, JAVASCRIPT,HTML, CSS, Bootstrap, Prime NG
          </p>
          <h4>  Backend :</h4> <p> : c#, .Net core , Entity Framework ,Restful APIs</p>
          <h4>Database:</h4> <p>SQL Server</p>
          <h4>Roles:</h4>
          <p> Application development, Debugging, Security Implementation, Project Maintenance, Unit testing
          </p>
          <h4>Database Operations :</h4><p> Created Tables written SQL queries as per the project
            requirement Build a Web Api .net core 6.0 using Dapper for the database interaction</p>
        </div>
      </div>
    </div>
    <div class="project-card" (click)="ShowProject('Restaurant')">

      <div class="project-details">
        <h2>RestaurantMaster</h2>
        <div *ngIf="isShowRestaurantProject">
          <h3>Description:</h3>
          <p> Migration of VB6.0 legacy project to latest .NET Core MVC using C#.</p>
          <h3>Technology Used:</h3>
          <h4>Frontend :</h4> <p> MVC, HTML, JAVASCRIPT, CSS, Kendo UI, Bootstrap</p>
          <h4>Backend :</h4>   <p>  C#, .NET Core, Dapper Micro ORM, Restful APIs</p>
          <h4>Database:</h4>  <p> SQL Server</p>
          <h4>Roles:</h4>
          <p> Application development, Debugging, Security Implementation, Project Maintenance, Unit testing
          </p>
          <h4> Database Operations : </h4> <p> Created Tables written SQL queries as per the project
            requirement Build a Web Api .net core 6.0 </p>
        </div>
      </div>
    </div>
    <div class="project-card" (click)="ShowProject('apds')">
      <div class="project-details">
        <h2>FinancingStatement</h2>
        <div *ngIf="IsShowAPDSProject">

          <h3>Description:</h3>
          <p> Migration of VB6.0 legacy project to latest .NET Core MVC using C#.
          </p>
          <h3>Technology Used:</h3>
          <h4>Frontend :</h4> <p>MVC, HTML, JAVASCRIPT, CSS, Kendo UI, Bootstrap</p>
          <h4>  Backend :</h4> <p> C#, .NET Core, Dapper Micro ORM, Restful APIs</p>
          <h4>Database:</h4> <p>SQL Server</p>
          <h4>Roles:</h4>
          <p> Application development, Debugging, Security Implementation, Project Maintenance, Unit testing
          </p>
          <h4>Database Operations :</h4><p> Created Tables written SQL queries as per the project
            requirement Build a Web Api .net core 6.0 using Dapper for the database interaction</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>