<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="profileContainer">
    <div class="profile-image">
      <img src="assets/IMG_1326.jpg" alt="Profile Image">
    </div>
    <div class="personal-info">
      <h1>Zafar Iqubal</h1>
      <p>Email: {{email}}</p> 
      <p>Location: Noida, India</p>
      <p>Profile : FullStack Developer</p>
    </div>
  </div>
  <div class="sections">
    <section id="about">
      <h2>About Me</h2>
      <p>
        Hello! I am Zafar Iqubal
        <br>
        A Passionate and excellent skills in full stack development with focus on .NET and Angular Technologies.
        Committed to delivering efficient and robust solutions, I seek opportunities to leverage my
        expertise in creating innovative web applications and contributing to the success of dynamic development teams
      </p>
    </section>
  </div>
  <div class="sections">
    <section id="experience">
      <h2>Experiences</h2>
      <h3>MTSL</h3>
      <h4>Software Engineer (07/2023-present)</h4>
      <div>
        <p>
          • Collaborated with cross-functional teams to design, develop, and implement scalable and performant web
          applications.
        </p>
        <p>
          • Utilized .NET Core and ASP.NET MVC to create robust and efficient backend services, handling RESTful APIs
          and data
          processing.
        </p>
        <p>
          • Implemented authentication and authorization features using JWT token, ensuring secure access to various
          application
          modules.
        </p>
        <p>
          • Developed responsive and user-friendly front-end interfaces using Angular, HTML and CSS ensuring a seamless
          user
          experience across devices.
        </p>
        <p>
          • Optimized application performance through code refactoring and database query optimization, leading to a 20%
          improvement
          in overall response time.
        </p>
        <p>
          • Conducted thorough testing and debugging to identify and resolve bugs, ensuring a stable and reliable
          application.
        </p>
        <p>
          • Actively participated in code reviews, providing constructive feedback to team members to maintain code
          quality and standards
        </p>
        <p>
          • Implemented security in APIs with windows authentication or data base authentication and authorize with the
          authorization
          token using jwt token.
        </p>
        <p>
          • Implemented security in APIs with role based access with help azure ad authenticating user with azure and
          authorization with
          azure based generated token
        </p>
        <h4>Engineer Trainee (03/2023-06/2023)</h4>
        <p>
          • Assisted in the design and development of a web-based Contract management system using .NET technologies.
        </p>
        <p>
          • Collaborated with senior developers to implement front-end features and functionalities, ensuring a seamless
          user experience.
        </p>
        <p>
          • Contributed to the development of RESTful APIs and backend services, supporting various application modules.
        </p>
        <p>
          • Conducted unit testing to verify the accuracy and functionality of newly developed code.
        </p>
      </div>
    </section>
  </div>
  <div class="sections">
    <section id="contact">
      <h2>Contact Me</h2>
      <div>
        <p>Phone Number : 7992257064</p> 
        <p>Email : {{email}}</p>
        <p>LinkedIn : 
      <a href="https://www.linkedin.com/in/zafar-iqubal" rel="noopener noreferrer" target="_blank" >Zafar Iqubal</a></p>
       
      </div>
      
    </section>
  </div>
  <footer>
    &copy; 2024 Zafar Iqubal Portfolio
  </footer>

</body>

</html>